# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.egg-info/

# Data
data/
*.csv
*.sqlite
*.db

# Models
models/
*.h5
*.keras
*.tflite
*.ckpt

# IDE / system files
.DS_Store
.idea/
.vscode/
.ipynb_checkpoints/
